.form {
  position: absolute;
  display: block;
  top: 20%;
  left: 20%;
  color: aliceblue;
  height: 60%;
  font-family: 'Urbanist';
  color: antiquewhite;
}

.form-header h1 {
  font-size: 2rem;
}

.form-header h3 {
  max-width: 70%;
  color: #525fe1;
}

.form-mainPart {
  display: flex;
}

.form-mainPart form {
  font-size: 2rem;
}

.form-mainPart input {
  font-size: 1.75rem;
  height: 2.25rem;
  width: 25rem;
}

.form2 {
  margin-left: 2rem;
}

#fullname {
  width: 15rem;
}

#email {
  margin-left: 1.8rem;
}

.form-subpart label {
  font-size: 2rem;
}

#satisify {
  margin-left: 3rem;
}

.form-subpart input {
  margin-left: 2rem;
}

.label1 {
  font-size: 1.5rem;
}

#form-textarea {
  width: 1094px;
  height: 237px;
}

#form-button {
  width: 30rem;
  height: 3rem;
  font-size: 2.5rem;
  margin-left: 38.8rem;
  background-color: #525fe1;
  color: aliceblue;
  font-family: 'Urbanist';
  transition: all 0.3s;
  border-radius: 0.5rem;
  cursor: pointer;
}

#form-button:hover {
  color: black;
  transform: scale(1.03);
}

#address {
  width: 24.5rem;
}

.error {
  font-size: 1rem;
  color: red;
}
