form {
  display: block;
  left: 20%;
  color: aliceblue;
  height: 60%;
  font-family: 'Urbanist';
  font-weight: 700;
  color: rgb(10, 7, 4);
}

.form-header {
  margin-top: 3rem;
}

.form-header h3 {
  text-align: center;
  font-size: 1.5rem;
  max-width: 50vw;
  margin: 0 auto;
  color: #525fe1;
}

.form-mainPart {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.form-mainPart form {
  font-size: 1.5rem;
}

.form2 {
  margin-left: 2rem;
}

.radio-button {
  display: flex;
  align-items: center;
}

.form-subpart label {
  font-size: 1.5rem;
}

.form-subpart form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
}

.radio-button input[type='radio'] {
  margin-left: 2rem;
}

.radio-button label {
  margin-left: 0.5rem;
}

.label1 {
  font-size: 1.5rem;
}

.error {
  font-size: 1rem;
  color: red;
}

.form-subpart {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#form-button {
  margin: 1rem 0 4rem 0;
}

#form-textarea {
  padding: 2rem;
  margin-top: 2rem;
  width: 60vw;
}

@media screen and (max-width: 1500px) {
  .form {
    font-weight: 700;
  }

  .form-mainPart .form1 {
    font-size: 1.5rem;
  }

  .form-subpart label {
    font-size: 1.5rem;
    font-weight: 700;
  }

  .form-subpart h2 {
    font-size: 1.25rem;
    max-width: 80%;
  }
}

@media screen and (max-width: 1200px) {
  .form-mainPart {
    flex-direction: column;
    align-items: center;
  }

  .form2 {
    margin: 2rem 0 0 0;
  }
}

@media screen and (max-width: 1000px) {
  .form {
    left: 20%;
    font-weight: 700;
  }

  .form-mainPart .form1 {
    font-size: 1.25rem;
  }

  .form-subpart label {
    font-size: 1rem;
  }

  .form-subpart h2 {
    font-size: 1rem;
    max-width: 80%;
  }

  .form-header h3 {
    max-width: 70vw;
  }
}

@media screen and (max-width: 500px) {
  .form {
    left: 0;
    font-weight: 700;
  }

  .form-mainPart .form1 {
    font-size: 1rem;
  }

  .form-subpart label {
    margin-left: 0.5rem;
  }

  .form-subpart h2 {
    font-size: 1rem;
    max-width: 100%;
  }

  .form-header h3 {
    max-width: 85vw;
  }

  .radio-button input[type='radio'] {
    margin-left: 1rem;
  }
}
