.banner-section {
  padding: 14rem 8rem 6rem 8rem;
  background: url(../img/BannerBackground.svg) no-repeat !important;
  background-size: 100vw 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  box-sizing: border-box;
}

.banner-section img {
  width: 40vw;
}

.banner-section h1 {
  font-size: 5rem;
  max-width: 90%;
}

.banner-section p {
  color: var(--typography-secondary);
  max-width: 80%;
  border-left: 0.125rem solid var(--brand-color);
  padding-left: 1rem;
  letter-spacing: 0.05rem;
  font-size: 1rem;
}

.banner-section button {
  margin-top: 1rem;
}

.choose-us-section {
  display: flex;
  justify-content: space-between;
  padding: 8rem 4rem 4rem 4rem;
  align-items: center;
  background: #fefefe;
  height: 100vh;
  box-sizing: border-box;
}

.choose-us-section img {
  width: 40vw;
}

.choose-us-section h3 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1rem;
  color: var(--brand-color-orange);
}

.choose-us-section h2 {
  font-size: 2.5rem;
  margin-top: 1rem;
}

.features {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 40vw;
  grid-row-gap: 3rem;
  margin-top: 4rem;
}

.feature-item {
  max-width: 85%;
}

.feature-item img {
  max-height: 20%;
  max-width: 20%;
}

.feature-item h4 {
  font-size: 1.25rem;
  margin-top: 1rem;
  font-weight: 500;
}

.feature-item p {
  margin: 1rem 0 0 0;
  letter-spacing: 0.05rem;
  font-weight: 300;
  color: var(--typography-secondary);
  line-height: 1.5rem;
  font-size: 1rem;
}

.choose-us-text {
  max-width: 40vw;
}

.choose-us-text-border {
  margin-top: 2rem;
  font-size: 1rem;
  color: var(--typography-secondary);
  border-left: 0.125rem solid var(--brand-color);
  padding-left: 1rem;
  letter-spacing: 0.05rem;
}

.choose-us-section-cards {
  margin-top: 2rem;
}

.choose-us-card {
  display: flex;
}

.choose-us-card img {
  max-width: 10%;
}

.choose-us-card p {
  margin-left: 1rem;
  font-size: 1rem;
  letter-spacing: 0.05rem;
  font-weight: 300;
  line-height: 1.5rem;
  color: var(--typography-secondary);
}

.stats-section-container {
  width: 85vw;
  background: var(--brand-color);
  margin: 0 auto;
  border-radius: 0.375rem;
  margin-top: 3rem;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 4.5rem 0;
}

.stats-section-container div:not(:last-child) {
  border-right: 0.0625rem solid #e7e7e7;
}

.stats-section-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2.25rem;
}

.stats-section-card img {
  max-height: 1.75rem;
}

.stats-section-card h3 {
  color: var(--typography-button);
  font-size: 2.5rem;
  margin-top: 1.5rem;
}

.stats-section-card h4 {
  color: var(--typography-button);
  font-size: 1rem;
  text-transform: uppercase;
  font-size: 400;
  letter-spacing: 0.1rem;
  text-align: center;
}

@media screen and (max-width: 1440px) {
  .banner-section {
    padding: 14rem 4rem 6rem 4rem;
  }

  .banner-section img {
    width: 45vw;
  }

  .choose-us-section {
    padding: 8rem 2rem 2rem 2rem;
  }
}

@media screen and (max-width: 1200px) {
  .banner-section {
    padding: 12rem 4rem 6rem 4rem;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: auto;
  }

  .banner-section h1 {
    max-width: 70%;
    margin: 0 auto;
  }

  .banner-section p {
    max-width: 70%;
    margin: 1rem auto 2rem auto;
    border: none;
  }

  .banner-section img {
    margin-top: 3rem;
    width: 70vw;
  }

  .choose-us-section {
    flex-direction: column;
    justify-items: center;
    height: auto;
    box-sizing: border-box;
  }

  .choose-us-section img {
    width: 60vw;
  }

  .features {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 70vw;
  }

  #choose-us-text {
    margin-top: 4rem;
  }

  .choose-us-text {
    max-width: 70vw;
  }

  .section-illustration {
    margin-top: 4rem;
  }

  .choose-us-section-cards div:nth-child(2) {
    margin-top: 2rem;
  }

  .stats-section-container {
    width: 95vw;
  }
}
