@font-face {
  font-family: 'GreycliffCF';
  src: url('../fonts/Greycliffcf-Demibold.woff') format('opentype');
  font-weight: 600;
}

@font-face {
  font-family: 'GreycliffCF';
  src: url('../fonts/Greycliffcf-Bold.woff') format('opentype');
  font-weight: 700;
}

@font-face {
  font-family: 'GreycliffCF';
  src: url('../fonts/Greycliffcf-Extrabold.woff') format('opentype');
  font-weight: 800;
}

@font-face {
  font-family: 'GreycliffCF';
  src: url('../fonts/Greycliffcf-Heavy.woff') format('opentype');
  font-weight: 900;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.ttf') format('opentype');
  font-weight: 400;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Light.ttf') format('opentype');
  font-weight: 300;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Thin.ttf') format('opentype');
  font-weight: 100;
}

body,
html {
  margin: 0;
  font-size: 16px;

  --brand-color: #525fe1;
  --brand-color-orange: #e7772f;

  --typography-main: #19202d;
  --typography-secondary: #6e8098;
  --typography-button: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'GreycliffCF';
  margin: 0;
  color: var(--typography-main);
}

p {
  font-family: 'Roboto';
}

.header-menu {
  display: flex;
  justify-content: space-between;
  position: absolute;
  left: 0;
  right: 0;
  align-items: center;
  padding: 24px 48px;
  background: transparent;
}

.header-menu-logo h1 {
  color: var(--brand-color);
  margin-left: 16px;
}

.header-menu-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-menu-options h3 {
  cursor: pointer;
}

.header-menu-options h3:not(:first-child) {
  margin-left: 24px;
}

.brand-button {
  background-color: var(--brand-color);
  color: var(--typography-button);
  cursor: pointer;
  font-family: 'GreycliffCF';
  font-size: 1.15rem;
  line-height: 1.15rem;
  font-weight: 600;
  border: none;
  padding: 16px 36px;
  border-radius: 4px;
  transition: all 0.3s;
}

.brand-button:hover {
  transform: scale(1.03);
  background: var(--brand-color-orange);
}

.banner-section {
  padding: 176px 128px 96px 128px;
  background: url(../img/BannerBackground.svg) !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner-section img {
  width: 40vw;
}

.banner-section h1 {
  font-size: 5rem;
  max-width: 500px;
}

.banner-section p {
  color: var(--typography-secondary);
  max-width: 500px;
  border-left: 2px solid var(--brand-color);
  padding-left: 16px;
  letter-spacing: 0.05rem;
}

.banner-section button {
  margin-top: 16px;
}

.choose-us-section {
  display: flex;
  justify-content: space-between;
  padding: 128px 64px 64px 64px;
  align-items: center;
  background: #fefefe;
}

.choose-us-section img {
  width: 40vw;
}

.choose-us-section h3 {
  text-transform: uppercase;
  font-weight: 400;
  color: var(--brand-color-orange);
}

.choose-us-section h2 {
  font-size: 2.5rem;
  margin-top: 16px;
}

.features {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 40vw;
  grid-row-gap: 48px;
  margin-top: 64px;
}

.feature-item {
  max-width: 85%;
}

.feature-item img {
  max-height: 20%;
  max-width: 20%;
}

.feature-item h4 {
  font-size: 1.25rem;
  margin-top: 16px;
  font-weight: 500;
}

.feature-item p {
  margin: 16px 0 0 0;
  letter-spacing: 0.05rem;
  font-weight: 300;
  color: var(--typography-secondary);
  line-height: 1.5rem;
}

.choose-us-text {
  max-width: 40vw;
}

.choose-us-text-border {
  margin-top: 32px;
  color: var(--typography-secondary);
  border-left: 2px solid var(--brand-color);
  padding-left: 16px;
  letter-spacing: 0.05rem;
}

.choose-us-section-cards {
  margin-top: 32px;
}

.choose-us-card {
  display: flex;
}

.choose-us-card img {
  max-width: 10%;
}

.choose-us-card p {
  margin-left: 16px;
  letter-spacing: 0.05rem;
  font-weight: 300;
  line-height: 1.5rem;
}

.stats-section-container {
  width: 80vw;
  background: var(--brand-color);
  margin: 0 auto;
  border-radius: 6px;
  margin-top: 48px;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 72px 0;
}

.stats-section-container div:not(:last-child) {
  border-right: 1px solid #e7e7e7;
}

.stats-section-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 36px;
}

.stats-section-card img {
  max-height: 1.75rem;
}

.stats-section-card h3 {
  color: var(--typography-button);
  font-size: 2.5rem;
  margin-top: 24px;
}

.stats-section-card h4 {
  color: var(--typography-button);
  font-size: 1rem;
  text-transform: uppercase;
  font-size: 400;
  letter-spacing: 0.1rem;
  text-align: center;
}
